/* Colores */
:root {
  --color-primary: #1DB954;  /* Color primario */
  --color-secondary: #242526;  /* Color secundario */
  --color-bg: #121212;  /* Color de fondo */
  --color-text: #E4E6EB;  /* Color del texto */
  --color-text-light: #B0B3B8;  /* Color del texto secundario */
}

/* Tipografía */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  line-height: 1.6;
  background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
}

/* Links */
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

/* Espaciado */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;
}

/* Botones */
.btn {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1da350;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Navbar y Footer */
.navbar, .card {
  background-color: var(--color-secondary);
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

/* Formularios */
.form-group {
  margin-bottom: 15px;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid var(--color-text-light);
  background-color: transparent;
}

/* Líneas de separación */
hr {
  border-top: 1px solid var(--color-text-light);
}

a:hover, a:focus {
  color: #1DB954;  /* Cambia esto al color que prefieras */
}

.btn:hover, .btn:focus {
  color: white;
}

.clickable-card {
  cursor: pointer;
  color: var(--color-text);
}

.clickable-card:hover {
  color: var(--color-primary);
}

.date-card {
  margin: 10px;
  padding: 10px;
  background-color: var(--color-secondary);
}

.date-text {
  font-size: 1.2em;
}

.file-upload {
  position: relative;
}

.file-upload-btn {
  cursor: pointer;
}

.file-name {
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}

.date-text {
  color: white;
}

.date-text:hover {
  color: green;
  transition: color 0.3s ease;
}

.small-input {
  width: 120px;  /* O el tamaño que prefieras */
}

#whatsapp-button {
  position: fixed;
  bottom: 20px;  /* Distancia desde el borde inferior */
  right: 20px;  /* Distancia desde el borde derecho */
  z-index: 1000;
}

#whatsapp-button img {
  width: 50px;
  height: 50px;
}
#whatsapp-button i {
  font-size: 70px;  /* Aumenta el tamaño del ícono */
}

/* Sección de Introducción */
#intro {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('URL_DE_IMAGEN_DE_FONDO');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

#intro h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#intro p {
  font-size: 1.2rem;
}

/* Sección de Características */
#features {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 50px 0;
  font-family: 'Arial', sans-serif;
}

#features h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.feature-box {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cta-button {
  margin-top: 30px;
}

.cta-button a {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-button a:hover {
  background-color: #0056b3;
}

/* Sección del video ajustada a tus especificaciones */
.video-section {
  background-color: var(--color-bg); /* Fondo oscuro */
  color: var(--color-text); /* Texto de color claro */
  text-align: center; /* Contenido centrado */
  padding: 50px 0; /* Espacio en la parte superior e inferior de la sección */
}

.video-section h2 {
  color: var(--color-primary); /* Título en color primario */
  font-size: 2.5rem; /* Tamaño de la fuente del título */
  margin-bottom: 20px; /* Margen inferior */
}

.video-section p {
  font-size: 1.2rem; /* Tamaño del párrafo */
  margin-top: 20px; /* Margen superior */
}


/* Sección de Precios */
.pricing-section {
  background-color: var(--color-secondary);
  color: var(--color-text);
  text-align: center;
  padding: 50px 0;
}

.pricing-section h2 {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 30px;
}

.plan-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.plan-item {
  width: 45%;  /* Cambiado a 45% para permitir solo 2 cuadros por fila */
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;  /* Añadido para separación vertical */
}

.plan-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}


/* Sección de Preguntas Frecuentes */
.faqs-section {
  background-color: var(--color-bg);  /* Cambiado para que sea diferente al de precios */
  color: var(--color-text-light);  /* Texto un poco más claro para contrastar con el fondo */
  text-align: left;
  padding: 50px;
}

.faqs-section h2 {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 30px;
}

.faq-item {
  margin: 15px 0;
  border: none;
}

.faq-question {
  background-color: var(--color-secondary);  /* Un poco diferente del fondo para resaltar */
  color: var(--color-text);
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.faq-answer {
  padding: 0 10px;
  transition: all 0.3s ease;
}

details[open] .faq-answer {
  padding: 10px;
}


/* Estilo para la sección Acerca de Nosotros */
#about_us {
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  padding: 50px;
  color: var(--color-text);
}

/* Estilo para el contenedor del texto */
.about-text {
  flex: 1;
  padding: 20px;
}

/* Estilo para el contenedor de la imagen */
.about-image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

/* Estilo para el título y el texto */
.about-text h2, .about-text p {
  margin: 0;
  padding: 10px 0;
}

.about-text h2 {
  color: var(--color-primary);
  font-size: 2rem;
}

.about-image img {
  max-width: 100%;
  border-radius: 50%; /* Opcional: para darle un efecto de avatar */
}

.about-text p {
  margin-bottom: 20px; /* o el valor que consideres apropiado */
}

#cta {
  background: linear-gradient(90deg, rgba(34, 34, 34, 1) 0%, rgba(67, 67, 67, 1) 100%);
  color: #fff;
  padding: 3em 0;
  text-align: center;
}

#cta h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

/* CSS Responsivo */

/* Dispositivos pequeños (teléfonos, menos de 768px) */
@media only screen and (max-width: 767px) {

  .container {
      padding: 0 10px;
  }

  .section {
      padding: 40px 0;
  }

  h1, h2, h3, h4, h5, h6 {
      font-size: 90%;
  }

  .feature-box, .plan-box {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .feature-item {
      margin: 15px 0;
      width: 90%; /* O el porcentaje que desees */
  }

  iframe {
      width: 100%;
      height: auto;
  }

  /* Acerca de Nosotros - sección */
  #about_us .about-text, #about_us .about-image {
      width: 100%;
      display: block; /* Asegurarse de que tomen todo el ancho */
      float: none; /* En caso de que hayas usado float en otro lugar */
  }

  #about_us .about-text {
      order: 1; /* Esto hará que el texto siempre se muestre primero */
  }

  #about_us .about-image {
      order: 2; /* Esto hará que la imagen siempre se muestre después del texto */
      text-align: center; /* Centrar la imagen si es más pequeña que el contenedor */
  }

  #about_us .about-image img {
      width: 100%;
      max-width: 400px; /* Puedes ajustar este valor según lo que te parezca mejor */
      height: auto;
      margin: 20px auto; /* Centra la imagen horizontalmente y da espacio arriba y abajo */
      display: block; /* Para que la imagen se muestre en su propia línea */
  }
  #about_us {
    display: flex;
    flex-direction: column;
  }
}

/* Dispositivos medianos (tablets, 768px y arriba) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .feature-box, .plan-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .feature-item, .plan-item {
      margin: 15px;
      flex-basis: 45%;  /* Esto indica que cada item ocupará aproximadamente la mitad del espacio disponible */
  }

  iframe {
      width: 100%;
      height: auto;
  }

  /* Acerca de Nosotros - sección */
  #about_us .about-text, #about_us .about-image {
      width: 50%;
  }
}
