{% extends 'base.html' %}

{% block title %}Crear Cuenta{% endblock %}

{% block content %}
  <h1>Crear Cuenta</h1>
  <form method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="company">Company:</label>
      <input type="text" class="form-control" id="company" name="company" required>
    </div>
    <button type="submit" class="btn">Crear Cuenta</button>
  </form>
{% endblock %}
