{% extends 'base.html' %}

{% block title %}ProveeSync - Automatiza la Gestión de Precios{% endblock %}

{% block content %}
  <section id="intro">
    <h1>Automatiza la Gestión de Precios con ProveeSync</h1>
    <p>Gestiona tus proveedores y actualiza precios de forma sencilla, rápida y eficiente.</p>
  </section>
  
  <section id="features">
    <h2>Características Únicas</h2>
    <div class="feature-box">
      <div class="feature-item">
        <h3>Eficiencia y Usabilidad</h3>
        <p>Actualiza precios en minutos, no en horas.</p>
      </div>
      <div class="feature-item">
        <h3>Accesibilidad en la Nube</h3>
        <p>Accede desde cualquier lugar y en cualquier momento.</p>
      </div>
      <div class="feature-item">
        <h3>Enfoque en el Core Business</h3>
        <p>Eliminamos funcionalidades redundantes para centrarnos en lo que realmente importa.</p>
      </div>
    </div>
    <div class="cta-button">
      <a href="{{ url_for('create_account') }}">Crear una cuenta</a>
    </div>
  </section>  
{% endblock %}


{% block video %}
  <section id="video" class="video-section">
    <h2>¿Cómo Funciona?</h2>
    <iframe width="900" height="600" src="https://www.youtube.com/embed/UHhDI7Y9nwQ" title="ProveeSync" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>Descubre cómo ProveeSync puede transformar la gestión de precios en tu empresa.</p>
  </section>
{% endblock %}

{% block pricing %}
  <section id="pricing" class="pricing-section">
    <h2>Planes y Precios</h2>
    <div class="plan-box">
      <div class="plan-item">
        <h3>Plan Freemium</h3>
        <p>Empieza gratis y gestiona hasta 5 proveedores.</p>
      </div>
      <div class="plan-item">
        <h3>Plan Básico</h3>
        <p>Desde $10-$15 USD al mes. Ideal para pequeñas empresas.</p>
      </div>
      <div class="plan-item">
        <h3>Plan Intermedio</h3>
        <p>$20 USD al mes. Perfecto para empresas de tamaño medio.</p>
      </div>
      <div class="plan-item">
        <h3>Plan Avanzado</h3>
        <p>$30 USD al mes. Diseñado para grandes empresas.</p>
      </div>
    </div>
  </section>
{% endblock %}

{% block faqs %}
  <section id="faqs" class="faqs-section">
    <h2>Preguntas Frecuentes</h2>
    <details class="faq-item">
      <summary class="faq-question">¿Cómo se actualizan los precios?</summary>
      <p class="faq-answer">La actualización de precios es completamente automatizada gracias a nuestra avanzada plataforma en la nube. Además, te ofrecemos la flexibilidad de elegir el formato del archivo que más te convenga—ya sea Excel, CSV, o cualquier otro que necesites—listo para integrarse sin problemas en tu software o e-commerce.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿Se amolda a cualquier software que esté usando?</summary>
      <p class="faq-answer">Absolutamente, ProveeSync es compatible con una amplia gama de plataformas y softwares de gestión. Si tu sistema tiene funcionalidades de importación y exportación masiva, entonces ProveeSync es la solución ideal para ti.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿Cuántos archivos puedo cargar?</summary>
      <p class="faq-answer">No ponemos un límite estricto en la cantidad de archivos que puedes gestionar. Ya sea que necesites configurar tres o incluso más archivos diferentes, ProveeSync te permite hacerlo con facilidad.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿En qué formato deben estar los archivos que subo?</summary>
      <p class="faq-answer">Soportamos una variedad de formatos de archivo, incluyendo CSV, Excel, PDF, y JSON. Si tienes un formato especial en mente, no dudes en contactarnos para explorar cómo podríamos incorporarlo.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿En qué formato deben estar los archivos de mi proveedor?</summary>
      <p class="faq-answer">Somos flexibles con los formatos de archivo de tu proveedor. Ya sean archivos en Excel, PDF, CSV u otros, podemos adaptarnos y asegurarnos de que la integración sea lo más fluida posible.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿Mi información está bien resguardada?</summary>
      <p class="faq-answer">La seguridad de tus datos es nuestra máxima prioridad. Utilizamos Amazon Web Services, una de las plataformas más seguras a nivel mundial, para almacenar todos tus archivos e información. Así aseguramos múltiples capas de protección para tu tranquilidad.</p>
    </details>
  </section>
{% endblock %}




{% block about_us %}
  <section id="about_us">
    <!-- Contenedor del texto -->
    <div class="about-text">
      <p>Hola! Soy <a href="https://www.linkedin.com/in/francisco-furey-44519113b/" target="_blank">Fran Furey</a>, fundador de ProveeSync. Surgió a raíz de un desafío en mi distribuidora e-commerce, <a href="https://soycanal.com.ar/" target="_blank">Canal</a> : la tediosa tarea de actualizar precios constantemente. Tras 8 meses de trabajo, ProveeSync nació como solución para empresas que lidian con la misma problemática.</p>
      <p>Si gestionas una distribuidora o un e-commerce y te ves abrumado con la actualización de precios, ProveeSync es tu respuesta. Nos centramos en permitirte escalar tu negocio y construir estrategias eficientes. Ofrezco una prueba gratuita con hasta 5 proveedores para que experimentes la gestión de precios en tiempo real. Juntos, transformaremos tu proceso comercial.</p>
    </div>
    <!-- Contenedor de la imagen -->
    <div class="about-image">
      <img src="static/pictures/franfu.jpeg" alt="Foto del Fundador">
    </div>
  </section>
{% endblock %}


{% block cta %}
  <section id="cta">
    <h2>¿Listo para Revolucionar la Gestión de Precios en tu Empresa?</h2>
    <div class="cta-button">
      <a href="{{ url_for('create_account') }}">Prueba ProveeSync Hoy</a>
    </div>
  </section>
{% endblock %}