<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Incluye Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Incluye tu archivo CSS personalizado -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <title>ProveeSync</title>
</head>
<body>


<!-- Aquí va tu barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}">ProveeSync</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('services') }}">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wa.me/5493513273358" target="_blank">Whatsapp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Aquí va el contenido principal de tu página -->

<!-- No olvides incluir jQuery y Bootstrap JS al final de tu archivo HTML -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
