{% extends 'base.html' %}

{% block title %}Proveedor{% endblock %}

{% block content %}
  <div class="container">
    <!-- Agrega el botón de volver aquí -->
    <button onclick="location.href='{{ url_for('dashboard') }}'" class="btn btn-secondary mb-3">Volver</button>

    <h1>{{ proveedor.nombre }}</h1>

    <div class="card mb-4 p-4">
      <h2>Subir archivos</h2>
      <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="files[]" class="form-label">Elige los archivos</label>
          <input class="form-control" type="file" id="files[]" name="files[]" multiple>
        </div>
        <button type="submit" class="btn">Subir</button>
      </form>
    </div>

    <div class="card p-4">
      <h2>Fechas</h2>
      {% for date in dates %}
        <div class="card mb-3 clickable-card">
          <div class="card-body d-flex justify-content-between align-items-center">
            <!-- Cambio aquí: he envuelto la fecha en un div con la clase 'date-card' y modificado la clase del texto a 'date-text' -->
            <div class="card date-card">
              <a href="{{ url_for('proveedor_blueprint.proveedor_files', proveedor_id=proveedor.id, date=date) }}" class="text-decoration-none">
                <span class="date-text">{{ date }}</span>
              </a>
            </div>
            <div>
              <form action="{{ url_for('proveedor_blueprint.rename', proveedor_id=proveedor.id, date=date) }}" method="post" style="display: inline;">
                <!-- Nuevo campo de entrada para el porcentaje de aumento -->
                <input type="number" name="porcentaje_aumento" placeholder="Ingrese porcentaje de aumento" min="0">
                <button type="submit" class="btn btn-primary">Generar Archivo</button>
              </form>
              <form action="{{ url_for('proveedor_blueprint.delete', proveedor_id=proveedor.id, date=date) }}" method="post" style="display: inline;" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta fecha y todos sus archivos?');">
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
