<!-- /templates/proveedor_files.html -->
{% extends 'base.html' %}

{% block title %}Proveedor - {{ date }}{% endblock %}

{% block content %}
  <div class="container">
    <!-- Agrega el botón de volver aquí -->
    <button onclick="location.href='{{ url_for('proveedor_blueprint.proveedor', proveedor_id=proveedor.id) }}'" class="btn btn-secondary mb-3">Volver</button>
    
    <h1>{{ proveedor.nombre }} - {{ date }}</h1>

    <div class="card p-4">
      <h2>Resumen del informe</h2>
      
      {% if report_data.matched_products %}
        <p>Total de productos en nuestra base de datos: {{ report_data.matched_products }}</p>
      {% endif %}
      
      {% if report_data.total_products_supplier_db %}
        <p>Total de productos en la base de datos de {{ proveedor.nombre }}: {{ report_data.total_products_supplier_db }}</p>
      {% endif %}
      
      {% if report_data.matched_products %}
        <p>Total de productos encontrados en ambas listas: {{ report_data.matched_products }}</p>
      {% endif %}
      
      {% if report_data.missing_df1_rows %}
        <p>Total de productos que están en nuestra base de datos pero no en la de {{ proveedor.nombre }}: {{ report_data.missing_df1_rows }}</p>
      {% endif %}
      
      {% if report_data.missing_df2_rows %}
        <p>Productos nuevos incorporados por {{ proveedor.nombre }} que no tenemos en nuestra base de datos: {{ report_data.missing_df2_rows }}</p>
      {% endif %}
      
    </div>
    
    

    <div class="card p-4">
      <h2>Archivos subidos</h2>
      <ul class="list-group">
        {% for file in files %}
          <li class="list-group-item">
            <!-- Agrega target="_blank" aquí -->
            <a href="{{ url_for('proveedor_blueprint.serve_file', proveedor_id=proveedor.id, date=date, filename=file) }}" target="_blank">
              <i class="fas fa-file-alt"></i>  <!-- Icono de archivo -->
              <span class="h5">{{ file }}</span>  <!-- Nombre del archivo -->
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
