{% extends 'base.html' %}

{% block title %}ProveeSync - Servicios{% endblock %}

{% block content %}
  <section id="intro">
    <h1>Nuestros Servicios</h1>
    <p>Actualiza listas de costos y precios en minutos, no en horas. Con ProveeSync.</p>
    <p>Probalo gratis con tus primeros 5 proveedores.</p>
  </section>
  
  <section id="features">
    <h2>Servicios Ofrecidos</h2>
    <div class="feature-box">
        <div class="feature-item">
          <h3>Análisis de Datos</h3>
          <p>Lleva un track de los aumentos de tus proveedores, sus porcentajes y tu margen de ganancia.</p>
        </div>
      <div class="feature-item">
        <h3>Actualización Automática de Precios</h3>
        <p>Sincroniza automáticamente los precios entre tus proveedores y tu plataforma de venta.</p>
      </div>
      <div class="feature-item">
        <h3>Integración de Proveedores</h3>
        <p>Integra fácilmente nuevos proveedores para una mayor flexibilidad en la gestión.</p>
      </div>
    </div>
    <div class="cta-button">
      <a href="https://wa.me/5493513273358" target="_blank">Contacta con el Founder</a>
    </div>
  </section>
{% endblock %}

{% block faqs %}
  <section id="features" class="faqs-section">
    <h2>Preguntas Frecuentes</h2>
    <details class="faq-item">
      <summary class="faq-question">¿Cómo se actualizan los precios?</summary>
      <p class="faq-answer">La actualización de precios es completamente automatizada gracias a nuestra avanzada plataforma en la nube. Además, te ofrecemos la flexibilidad de elegir el formato del archivo que más te convenga—ya sea Excel, CSV, o cualquier otro que necesites—listo para integrarse sin problemas en tu software o e-commerce.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿Se amolda a cualquier software que esté usando?</summary>
      <p class="faq-answer">Absolutamente, ProveeSync es compatible con una amplia gama de plataformas y softwares de gestión. Si tu sistema tiene funcionalidades de importación y exportación masiva, entonces ProveeSync es la solución ideal para ti.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿Cuántos archivos puedo cargar?</summary>
      <p class="faq-answer">No ponemos un límite estricto en la cantidad de archivos que puedes gestionar. Ya sea que necesites configurar tres o incluso más archivos diferentes, ProveeSync te permite hacerlo con facilidad.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿En qué formato deben estar los archivos que subo?</summary>
      <p class="faq-answer">Soportamos una variedad de formatos de archivo, incluyendo CSV, Excel, PDF, y JSON. Si tienes un formato especial en mente, no dudes en contactarnos para explorar cómo podríamos incorporarlo.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿En qué formato deben estar los archivos de mi proveedor?</summary>
      <p class="faq-answer">Somos flexibles con los formatos de archivo de tu proveedor. Ya sean archivos en Excel, PDF, CSV u otros, podemos adaptarnos y asegurarnos de que la integración sea lo más fluida posible.</p>
    </details>
    <details class="faq-item">
      <summary class="faq-question">¿Mi información está bien resguardada?</summary>
      <p class="faq-answer">La seguridad de tus datos es nuestra máxima prioridad. Utilizamos Amazon Web Services, una de las plataformas más seguras a nivel mundial, para almacenar todos tus archivos e información. Así aseguramos múltiples capas de protección para tu tranquilidad.</p>
    </details>
  </section>
{% endblock %}

{% block cta %}
  <section id="cta">
    <h2>¿Interesado en Nuestros Servicios?</h2>
    <div class="cta-button">
      <a href="https://wa.me/5493513273358" target="_blank">Descubre Más Hoy</a>
    </div>
  </section>
{% endblock %}
